body {
    place-items: normal;
    display: block;
}
.main-page {
    padding: 20px;
    margin: 0 auto;
    max-width: 1400px;
}
.main-page-small {
    max-width: 600px;
    margin: 0 auto;
}
input:-internal-autofill-selected {
    background-color: #fff !important;
}